<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>


    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-4">
          <div class="flat-card bg-light">
            <!--<img src="..." class="card-img-top" alt="image"> -->
            <h3 class="card-title"> <%= flat.name %></h3>
            <h4 class=""> <%= flat.address  %></h4>
            <div class="flex">
              <i class="fas fa-user-friends"></i>
              <span> <%= flat.number_of_guests%> </span>
            </div>
            <div class="flex">
              <i class="fas fa-euro-sign"></i>
              <span> <%= flat.price_per_night %></span>
            </div>
            <div class="card-body bg-white border-top">
              <div class="flat-card-actions">
                <%= link_to 'More info', flat_path(flat) %>
                <%= link_to 'Edit', edit_flat_path(flat), class: 'ml-3 text-warning' %>
                <%= link_to "Remove", flat_path(flat),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
